* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0011ff, rgba(0, 255, 98, 0.2))
}

.login-box {
    background: white;
    padding: 40px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
    text-align: left;
}

.input-box label {
    font-size: 14px;
}

.input-box input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background: #0011ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s;
}

.login-btn:hover {
    background: #00aa55;
}

.extra {
    margin-top: 15px;
    font-size: 14px;
}

.extra a {
    text-decoration: none;
    color: #0011ff;
    font-weight: bold;
}

.extra a:hover {
    text-decoration: underline;
}